.m_eform_active {
  display: block;
  margin-top: 30px;
}

.m_eform_not_active {
  display: none;
}

.m-lf-btn-wr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 200px;
  /* gap: 20px; */
}

@media only screen and (max-width: 750px) {
  .m-lf-btn-wr {
    padding-left: 0px;
  }
}
