.m-admn-nav {
  width: 100%;
  height: 70px;
  background-color: rgb(160, 3, 3);
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.m-admn-nav > h1 {
  font-size: 30px;
}

.m-admn-optn {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  margin-top: 30px;
  padding: 0 30px;
  overflow-x: hidden;
}

.m-admn-optn-col{
  margin-bottom: 0px;
}

.m-admn-optn-n {
  width: 100%;
  height: 220px;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  margin-bottom: 30px;
  color: black;
  text-decoration: none;
}

.m-admn-optn-n-p {
  font-size: 17px;
  font-weight: bold;
}

.m-admn-optn-n-i {
  font-size: 50px;
}

@media screen and (max-width: 480px) {
  .m-a-n > h1 {
    font-size: 27px;
  }

  .m-admn-optn {
    margin-top: 20px;
    padding: 0 5px;
  }

  .m-admn-optn-col{
    margin-bottom: 5px;
  }

  .m-admn-optn-n {
    width: 100%;
    height: 180px;
    gap: 10px;
    margin-bottom: 10px;
  }
}
