.m_eform_active {
  display: block;
  margin-top: 30px;
}

.m_eform_not_active {
  display: none;
}

.m-lf-btn-wr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* gap: 20px; */
}

.m_eform_btn_next {
  background-color: blue;
}
