.m-flc {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.m-flc-opt-active {
  background-color: #f5f5f5;
  padding: 10px 20px;
  border: 1px solid #f5f5f5;
  /* margin-left: 10px; */
  /* z-index: 100000; */
}

.m-flc-h3-active {
  font-size: 17px;
  /* text-decoration: underline; */
  color: #A00303;
}

.m-flc-h3-not-active {
  /* color: aqua; */
  font-size: 17px;
}
