.u-info-wrap{
    display: flex;
    margin: 20px;
    width: 100%;
    height: auto;
    margin-top: 50px;
}
.m-card{
width: 40%;
}
.m-chart{
    margin-top: 16px;
width: 55%;
}

.CircularProgressbar{
    width: 55%;
}