.sider {
  width: 220px;
  height: 90vh;
  position: sticky;
  top: 64px;
  left: 0px;
  padding: 7px 0px 7px 20px;
  border-right: 1px solid #dbdbdb;
  background-color: white;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}

.filter-h3 {
  font-size: 20px;
}

.sider-close-icon {
  display: none;
}

@media only screen and (max-width: 750px) {
  .sider {
    position: fixed;
    z-index: 100;
    width: 250px;
    height: 100%;
    left: -80vw;
    top: 64px;
    transition: 0.4s ease-in-out;
    border-top: 1px solid #dbdbdb;
    padding-top: 30px;
  }
  .sider.active {
    position: fixed;
    left: 0px;
  }

  .filter-h3 {
    font-size: 20px;
  }
  .sider-close-icon {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
  }
}
