/* .m-l{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
}

.m-l-c{
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellowgreen;
  flex-direction: column;
  gap: 30px;
}

input{
  padding: 15px 20px;
}

button{
  padding: 10px 20px;
} */